[submodule "3rdparty/QtAwesome"]
	path = 3rdparty/QtAwesome
	url = https://github.com/gamecreature/QtAwesome.git
[submodule "3rdparty/qt-material-widgets"]
	path = 3rdparty/qt-material-widgets
	url = https://github.com/laserpants/qt-material-widgets.git
[submodule "3rdparty/QDarkStyleSheet"]
	path = 3rdparty/QDarkStyleSheet
	url = https://github.com/ColinDuquesnoy/QDarkStyleSheet.git
[submodule "3rdparty/rxqt"]
	path = 3rdparty/rxqt
	url = https://github.com/tetsurom/rxqt.git
[submodule "3rdparty/qsyncable"]
	path = 3rdparty/qsyncable
	url = https://github.com/benlau/qsyncable.git
[submodule "3rdparty/QHotkey"]
	path = 3rdparty/QHotkey
	url = https://github.com/Skycoder42/QHotkey.git
[submodule "3rdparty/QSettingsDialog"]
	path = 3rdparty/QSettingsDialog
	url = https://github.com/Skycoder42/QSettingsDialog.git
