[submodule "3rdparty/QtAwesome"]
	path = 3rdparty/QtAwesome
	url = https://github.com/gamecreature/QtAwesome.git
[submodule "3rdparty/qt-material-widgets"]
	path = 3rdparty/qt-material-widgets
	url = https://github.com/laserpants/qt-material-widgets.git
[submodule "3rdparty/QDarkStyleSheet"]
	path = 3rdparty/QDarkStyleSheet
	url = https://github.com/ColinDuquesnoy/QDarkStyleSheet.git
[submodule "3rdparty/rxqt"]
	path = 3rdparty/rxqt
	url = https://github.com/tetsurom/rxqt.git
